
.destination-card {
  width: 100%;
  max-width: 312px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}

.img-osaka,
.img-tokyo {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-tokyo {
  background-image: url("../IMG/tokyo-mobile.jpg");
}

.img-osaka {
  background-image: url("../IMG/osaka-mobile.jpg");
}

.destination-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destination-items h4,
.destination-items p {
  margin: 0;
}

.destination-items h4 {
  font-size: 28px;
  text-align: left;
  margin-top: 24px;
}

.destination-items p {
  font-size: 20px;
  line-height: 1.5;
}

.destination-items .button {
  align-self: center;
}

@media (min-width: 768px) {
.destination-card {
  max-width: 648px;
}

.destination-items .button {
    align-self: flex-start;
  }

.img-osaka,
.img-tokyo {
  height: 452px;
  gap: 24px;
}

.img-tokyo {
  background-image: url("../IMG/tokyo-tablet-desk.jpg");
}

.img-osaka {
  background-image: url("../IMG/osaka-tablet-desk.jpg");
}
}

.destinations-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 1024px) {
  .destination-card {
  width: 1200px;
  margin: 0px auto;
}

.img-osaka,
.img-tokyo {
  width: 100%;
  width: 588px;
}

.desktop-card {
  height: 750px;
}
}

@media (min-width: 1440px) {
  .destinations-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .destination-card {
    max-width: 588px;
    margin: 0;
  }
}