.hero-img {
  height: 400px;
  width: 100%;
  background-image: url("../IMG/Banner-homepage-mobile.png");
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  margin: 0px;
  padding: 88px 0px 16px 0px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background-image: url("../IMG/Banner-homepage-tablet.png");
    background-size: cover;
    background-position: center;
  }
  h2 {
    font-size: 32px;
    font-weight: var(--text-weight);
    padding: 88px 0px 16px 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background-image: url("../IMG/Banner-homepage-desktop.png");
    background-size: cover;
    background-position: center;
  }
    h2 {
    padding: 88px 0px 16px 0px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-img {
    background-image: url("../IMG/Banner-homepage-desktop.png");
    background-size: cover;
    background-position: center;
  }
    h2 {
    padding: 88px 0px 16px 0px;
  }
}
