.hero .hero-img {
    height: 400px;
    width: 100%;
    background-image: url("../IMG/Banner-homepage-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h2 {
    font-size: 20px;
    font-weight: var(--text-weight);
    text-align: center;
    margin: 0;
    padding: 88px 24px 0 24px;
    line-height: 32px;
}

@media screen and (min-width: 768px) {
    .hero .hero-img {
        height: 620px;
        background-image: url("../IMG/Banner-homepage-tablet.png");
    }

    .hero h2 {
        font-size: 32px;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .hero .hero-img {
        height: 800px;
        background-image: url("../IMG/Banner-homepage-desktop.png");
    }

    .hero h2 {
        padding: 120px 104px 0 104px;
    }
}